<!DOCTYPE html>
<html>
  <head>
    <title>Next Iot Platform</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

        <link rel="stylesheet" href="/assets/iot_mobileui/lib/weui.min.css">
        <link rel="stylesheet" href="/assets/iot_mobileui/css/jquery-weui.css">
        <link rel="stylesheet" href="/assets/iot_mobileui/css/demos.css">
        <script src="/assets/iot_mobileui/lib/jquery-2.1.4.js"></script>
        <script src="/assets/iot_mobileui/lib/fastclick.js"></script>
        <script src="/assets/iot_mobileui/js/jquery-weui.js"></script>
      {%- block mystyle %}{%- endblock -%}

      {%- block myscript %}{%- endblock -%}
  </head>

<body ontouchstart>

        {% block content %}{% endblock %}


        <script>
          $(function() {
            FastClick.attach(document.body);
          });
        </script>

</body>

</html>